
#BeigeContainer {
    background-image: url('./backgroundbigw.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

@media only screen and (max-width: 820px) {
    #BeigeContainer {
    background-image: url('./backgroundsmallw.jpg');
    }
  }
