@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  };
  
  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
  };

  @font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: medium;
    font-style: italic;
  };

  @font-face {
    font-family: droid;
    src: url('./fonts/droid-sans.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  };

 
  


